<?xml version="1.0" encoding="utf-8" ?>
<!-- 
sdfsdfsdf
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName">
<!-- 
<bean id="printService" class="com.mycompany.sample.ioc.PrintServiceImpl">
    <property name="name">
        <value>ewrewrwer</value>
    </property>
</bean>
 -->
<bean class="com.mycompany.sample.ioc.factorybean.TestFactoryBean" init-method="init"></bean>
<!-- 
<bean class="com.mycompany.sample.ioc.beanpostprocessor.TestBeanPostProcessor"></bean>
 -->

<alias name="com.mycompany.sample.ioc.factorybean.TestFactoryBean" alias="sdjflsdjfl"/>
<alias name="com.mycompany.sample.ioc.factorybean.TestFactoryBean" alias="ewrwerw"/>
<alias name="com.mycompany.sample.ioc.factorybean.TestFactoryBean" alias="234234"/>
<!-- 
<bean id="foo" class="com.mycompany.sample.ioc.Foo">
    <constructor-arg type="int">
        <value>sdf</value>
    </constructor-arg>
    <constructor-arg type="String">
        <value>23424</value>
    </constructor-arg>
</bean>


<constructor-arg>
        <ref bean="bar"/>
    </constructor-arg>
    <constructor-arg>
        <value>11</value>
    </constructor-arg>
 -->
 
 <bean id="baz" class="com.mycompany.sample.ioc.Baz" />
 
 <bean id="bar" class="com.mycompany.sample.ioc.Bar" />
 
 <bean id="exampleBean" class="com.mycompany.sample.ioc.ExampleBean" factory-method="createInstance">
    <property name="bar" ref="bar"></property>
    <property name="i" value="111"></property>
 </bean>
 
</beans>